
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="./app/public/views/css/cadastrar.css">
    <title>Cadastro novo usuario</title>
</head>
<body><!--formulario para cadastor de usuarios-->
    <div class="container">
        <form method="POST" class="form-login">
            <h2 class="form-login-heading">Cadastre seu usuario</h2>
            <div class="form-group">
                <input type="text" placeholder="Nome Completo" id="nome" class="form-control" maxlength="30" name="nome" required>
            </div>
            <div class="form-group">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" maxlength="40" required autofocus>
            </div>
            <div class="form-group">
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" maxlength="32" required>
            </div>
            <div class="form-group">
                <input type="password" id="confSenha" name="confSenha" class="form-control" placeholder="Confirma Senha" maxlength="32" required><br>
            </div>
            <!--setando o tipo de usuario-->
            <label>Escolha seu cargo:</label>
            <p>
                <input type="radio" name="tipo" value="D" required> Diretor
                <input type="radio" name="tipo" value="G"> Gerente
                <input type="radio" name="tipo" value="C"> Colaborador
            </p>
            <!-- botãao com função onclick para chamar o cadastrar()-->
            <div class="form-group-button">
                <input type="button" id="btn-cadastrar" onclick="cadastrar()" value="Cadastrar" class="btn  btn-lg btn-dark login_btn">
                <input type="button"  class="btn  btn-lg btn-dark login_btn" value="Sair" onclick="window.location.href='http://localhost/slim/'"/>
            </div>
        </form>
    </div>
    <script>
        //função cadastrar do botão
        function cadastrar() {
            //pegando os valores dos inputs
            let nome = $('#nome').val();
            let email = $('#email').val();
            let senha = $('#senha').val();
            let confSenha = $('#confSenha').val();
            let tipo = $("input[name='tipo']:checked").val();
            //verificando senha e confirma senha condizem
            if (senha !== confSenha) {
                alert('Senhas não condizem!');
                return false; //retorna falso
            }
            //retorna verdadeiro, colocando dados em array
            let dados = {nome,email,senha,tipo};
            //utilizando ajax para enviar para a url cadastarUsuario
            $.ajax({
                url: './cadastrarUsuario',
                method: 'POST',
                data: dados,
                dataType: 'json'
            }).done((data) => {
                alert(data.msg);
            });
        }

    </script>
</body>
</html>
