<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <title>Pagina do colaborador</title>
</head>
<body><!--tabela com id para o DataTables-->
    <div class="container">
        <table id="produtos" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
        </table>
        <!--div para exibir valor total pelo id-->
        <div style="text-align: center">
            <h3>Valor Total</h3>
            <h5 id="valor-total"></h5>
        </div>
        <div>
            <input type="button"  class="btn btn-lg btn-dark login_btn" value="Sair" onclick="sair()"/>
        </div>
    </div>
    <script>//pegando id da tabela e passando os dados dos inputs pelo id e enviando para url
        $(document).ready(() => {
            $('#produtos').DataTable({
                'searching': false,
                "ajax": "./listaProdutos",
                "columns": [
                    { "data": "id_produto" },
                    { "data": "nome" },
                    { "data": "valor" },
                    { "data": "quantidade" },
                ]
            });
            // ajax passando os dados para url produtoTotal
            $.ajax({
                url: './produtoTotal',
                method: 'GET',
                dataType: 'json',
            }).done((data) => {
                //pega id do h5 e exibe dados do data
                $('#valor-total').text('R$ ' + data.total);
            });
        });
        function sair() {
            $.ajax({
                url: './logout',
                method: 'POST',
            }).done((data) => {
                window.location.href = "/slim";
            });
        }
    </script>
</body>
</html>
