<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

     <title>Pagina do Diretor</title>
</head>
<body>
    <div class="container">
        <table id="usuarios" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Tipo</th>
                </tr>
            </thead>
        </table>
        <br/>
        <form>
            <div class="form-group">
                <input type="text" placeholder="Código" id="id_usuario" class="form-control" name="id_usuario" readonly>
            </div>
            <label>Atualize o cargo:</label>
            <p>
                <input type="radio" name="tipo" value="D"> Diretor
                <input type="radio" name="tipo" value="G"> Gerente
                <input type="radio" name="tipo" value="C"> Colaborador
            </p>
            <div class="form-group-button">
                <input type="button" id="btn-atualizar" onclick="atualizar()" value="Atualizar" class="btn btn-lg btn-dark login_btn">
                <input type="button"  class="btn btn-lg btn-dark login_btn" value="Sair" onclick="sair()"/>
            </div>
        </form>
    </div>
    <script>
        let table = null;

        $(document).ready(() => {
            table = $('#usuarios').DataTable({
                'searching': false,
                select: {
                    style: 'single'
                },
                "ajax": "./listaUsuario",
                "columns": [
                    { "data": "id_usuario" },
                    { "data": "nome" },
                    { "data": "email" },
                    { "data": "tipo" },
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Portuguese-Brasil.json"
                }
            });

            table.on('select', function (e, dt, type, indexes) {
                let dado = table.row({selected: true}).data();
                $('#id_usuario').val(dado.id_usuario);
                $("input[name='tipo'][value='"+dado.tipo+"']").prop('checked', true);
            });
        });

        function atualizar() {
            let id_usuario = $('#id_usuario').val();
            let tipo = $("input[name='tipo']:checked").val();

            let dados = { id_usuario, tipo };

            $.ajax({
                url: './atualizarUsuario',
                method: 'POST',
                data: dados,
                dataType: 'json'
            }).done((data) => {
                alert(data.msg);
                table.ajax.reload();
            });
        }

        function sair() {
            $.ajax({
                url: './logout',
                method: 'POST',
            }).done((data) => {
                window.location.href = "/slim";
            });
        }
    </script>
</body>
</html>
