

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./app/public/views/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Login</title>
</head>
<body>
<div class="container"><!--formulario para logar usuario-->
    <form method="POST" class="form-login">
        <h2 class="form-login-heading">Faça Login!</h2>
        <div class="form-group">
             <label for="inputEmail" class="sr-only">E-mail</label>
             <input type="email" id="email"  name="email" class="form-control" placeholder="Email" required autofocus>
        </div>
         <div class="form-group">
            <label for="inputPassword" class="sr-only">Senha</label>
            <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
        </div>
        <div class="form-group">
             <a href="cadastrar">Cadastre um novo usuário</a>
        </div>
        <div class="form-group">
            <input type="button" onclick="logar()" value="Acessar" class="btn btn-lg btn-primary login_btn">
        </div>
    </form>
    <script>

        //função logar pegando os dados do input
        let logar = () => {
            let email = $('#email').val();
            let senha = $('#senha').val();
            //passando dados para um array
            let dados = {email,senha};

            $.ajax({
                url: './logarUsuario',
                method: 'POST',
                data: dados,
                dataType: 'json'
            }).done((data) => {
                // if verificando se o dado e uma string
                if (typeof data.msg === "string") {
                    alert(data.msg);
                    return false;
                }else{
                //se verdadeiro, pega o tipo e direciona para pagina indicada!
                switch (data.tipo) {
                    case 'D':
                        window.location.href = 'diretor';
                        break;
                    case 'G':
                        window.location.href = 'gerente';
                        break;
                    case 'C':
                        window.location.href = 'colaborador';
                        break;
                    }
                }
            });
        }
    </script>
</div>

</body>
</html>
